{% extends "home-base.html"%}
{% block title %} HomePage {% endblock %}
{% block head%}
  {{ super() }}
{% endblock%}
{% block page_content%}

  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5"> Welcome to Our Intramural Basketball Team's Page</h1>
    <h2 id="h2" style="Color:#808080">Developed by Jack Jacobs, Matt Sidor and James Dutton</h2>
  </div>
  <div class="container">
    <p>We are the University of Delaware Blue Devils. This intramural basketball team is led by our fantastic captains: Jack Jacobs, James Dutton, and Matt Sidor. Our team is a five-time intramural basketball champion, which makes us the winningest team in Delaware intramural history. The 6'6" James Dutton is a 3-time MVP of the league, while Jack and Matt each have one MVP award. James is the highest scorer on the team at 22 points per game (PPG), Matt leads the league in 3-point percentage, and Jack leads the league in steals per game. At the moment, our team is in the playoffs in pursuit of a sixth championship trophy.</p>
  </div>
{% endblock%}
