{% extends "home-base.html" %}
{% block title %}Home Page{% endblock %}
{% block head%}
  {{ super() }}
{% endblock%}
{% block page_content%}

<!-- Page Content -->
<div class="container">
  <h1 class="mt-5"> Below are the Captains of the Team: </h1>
  <ul>
    <li>James Dutton: </li><p>A senior MIS major with a minor in Global Enterprise Technology at the University of Delaware. James enjoys playing basketball and attending EDM concerts.</p>
    <li>Jack Jacobs: </li><p>A senior Finance and MIS double major at the University of Delaware. Jack plays club soccer at UD and enjoys traveling.</p>
    <li>Matt Sidor: </li><p>A senior Finance and MIS double major at the University of Delaware. Matt enjoys playing sports and hanging out with friends.</p>
  </ul>
</div>

{% endblock %}
