{% extends "home-base.html" %}
{% block title %}Home Page{% endblock %}
{% block head%}
  {{ super() }}
{% endblock%}
{% block page_content%}

<!-- Page Content -->
<div class="container">
  <h1 class="mt-5"> Below are the Captains of the Team: </h1>
  <ul>
    <li>James Dutton: </li><p>A senior MIS major with a minor in Global Enterprise Technology at the University of Delaware. James enjoys playing basketball and attending EDM concerts. James has been playing basketball since he was 5 years old.</p>
    <img class ="displayed" src="static/img/james.png" alt="James">
    <li>Jack Jacobs: </li><p>A senior Finance and MIS double major at the University of Delaware. Jack plays club soccer at UD and enjoys traveling. Jack began his basketball career when he was only 4 years of age.</p>
    <img class ="displayed" src="static/img/jack.png"  alt="Jack">
    <li>Matt Sidor: </li><p>A senior Finance and MIS double major at the University of Delaware. Matt enjoys playing sports and hanging out with friends. Matt started playing basketball when he was 6 years old. </p>
    <img class ="displayed" src="static/img/matt.png" alt="Matt">
  </ul>
</div>

{% endblock %}
