{% extends "home-base.html"%}
{% block title %}Add Players{% endblock %}
{% block page_content%}

  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Add Players:</h1>
    <form action="/player/add" method="post" id="add-player-form">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="name" placeholder="Name of the Player" required="true">
      </div>
      <div class="form-group">
        <label>Height</label>
        <input class="form-control" type="text" name="height" placeholder="Height" required="true">
      </div>
      <div class="form-group">
        <label>Weight</label>
        <input class="form-control" type="text" name="weight" placeholder="Weight" required="true">
      </div>
      <div class="form-group">
        <label>Position</label>
        <input class="form-control" type="text" name="position" placeholder="Position" required="true">
      </div>
      <button type="submit" class="btn btn-primary">Add Player</button>
    </form>
  </div>

{% endblock%}

{% block scripts%}
{{super()}}
<script>
  $(document).ready(function() {
    $("#insert-ajax-btn").click(function(event) {
      event.preventDefault(); // prevent the button to submit the form
      $.ajax({
          type: "POST",
          url: "/api/player/add",
          data: $("#add-player-form").serialize(),
          success: function(response) {
            window.location.replace("/players"); // redirect
          } // end of success callback function
        }) // end of ajax call
        .fail(function(error) {
          // console.log(data);
          swal({
            title: "Oops...",
            text: "Insertion failed",
            type: "error",
            timer: 2000,
            showConfirmButton: false
          }); // end of SweetAlert
        }); // end of fail callback function
    }); // end of button click event function
  }); // end doc ready
</script>
{% endblock%}
