{% extends "home-base.html"%}
{% block title %}Edit Stats{% endblock %}
{% block page_content%}

  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5"><i class="fa fa-book" aria-hidden="true"></i> Edit Stats:</h1>
    <form action="/statistic/edit/{{statistic.id}}" method="post">
      <div class="form-group">
        <label>Field Goal Percentage</label>
        <input class="form-control" type="text" name="fgp" value="{{statistic.fgp}}" required="true">
      </div>
      <div class="form-group">
        <label>Three Point Percentage</label>
        <input class="form-control" type="text" name="threepp" value="{{statistic.threepp}}" required="true">
      </div>
      <div class="form-group">
        <label>Player Rating</label>
        <input class="form-control" type="text" name="prating" value="{{statistic.prating}}" required="true">
      </div>
      <div class="form-group">
        <label>Player</label>
        <select class="form-control" name="player">
          {% for player in players %}
            {% if player == statistic.player %}
              <option selected="selected">{{player.name}}</option>
            {% else %}
              <option>{{player.name}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        Player not in the list? <a href="/artist/add" class="btn btn-success" role="button" aria-disabled="true">Add Artists</a>
      </div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
  </div>

{% endblock%}
