{% extends "home-base.html"%}
{% block title %}All Stats{% endblock %}
{% block page_content%}

<!-- Page Content -->
<div class="container">
  <h1 class="mt-5"><i class="fa fa-book" aria-hidden="true"></i> Statistics:</h1>
  <div class="row bottom-margin">
    <a href="/statistic/add" class="btn btn-primary" role="button" aria-disabled="true">Add Stats</a>
  </div>
  {% if statistics %}
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Player</th>
        <th>View</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for statistic in statistics %}
      <tr>
        <th scope="row">{{statistic.id}}</th>
        <td>{{statistic.player.name}}</td>
        <td>
          <!--  view stats button trigger modal -->
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#{{statistic.id}}">
                View Stats
              </button>

          <!-- Modal -->
          <div class="modal fade" id="{{statistic.id}}" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{statistic.player.name}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>
                <div class="modal-body">
                  <p>Field Goal Percentage: </p> <pre>{{statistic.fgp}}</pre>
                  <p>Three Point Percentage: </p> <pre>{{statistic.threepp}}</pre>
                  <p>Overall Player Rating: </p> <pre>{{statistic.prating}}</pre>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <a href="/statistic/edit/{{statistic.id}}" class="btn btn-success" role="button" aria-disabled="true">Edit</a>
          <a href="/statistic/delete/{{statistic.id}}" class="btn btn-danger" role="button" aria-disabled="true">Delete</a>
        </td>
      </tr>

      {% endfor%}
    </tbody>
  </table>
  {% else %}
  <h3>There are no stats in the database yet.</h3> {% endif %}
  <p>Throughout the season, the team tracks mutliple different statistics categories in order to announce the team and league MVP.</p>
  <p>Statistics Tracked:</p>
  <ul>
    <li>Field Goal Percentage: Number of all shots made/Number of all shots attempted.</li>
    <li>Three Point Percentage: Number of all 3 point shots made/Number of all 3 point shots attempted.</li>
    <li>Player Rating: Determined using a combination and weighting system of all season-long statistics.</li>
  </ul>
</div>

{% endblock%}

{% block scripts%}
{{super()}}
{% endblock %}
